
h1 We believe in starting great conversations
p
h2 Our Team
p
  =image_tag "alex.png"
  =image_tag "patrick.png"
  =image_tag "yee.png"
p We're Alex, Patrick, and Yee trying to bring you tailored interest recommendations based on your favorites.
h3 Yee Wai (The Coder)

p Yee is an undergraduate senior at Northwestern University studying Computer Science within the McCormick School of Engineering. Yee was a Web Apprentice at GOOD Worldwide, LLC over the summer in Los Angeles, CA, and was also previously working as an intern at the Northwestern HARP Project (educational software). When Yee is not coding in Ruby on Rails, she dreaming about coding in rails, as well as visualizing a killer front end user design.

h3 Alex Risman (The Mather)

p Alex is an undergraduate senior at Northwestern University studying Economics and Applied Mathematics. Alex has recently been working as a research assistant for the Northwestern Institute on Complex Systems (NICO). Alex enjoys uncovering insights from "Big Data", and presenting these insights to users in order to enrich their lives. Alex's secret algorithm is what makes this site different from the rest.

h3 Patrick Hadley (The MBA)

p Patrick is a second year MBA student at the Kellogg School of Managment, studying Entrepreneurship, Marketing, Design and Operations. He was previously working as an Aerospace Engineer at Honeywell Aerospace, and met up with Alex and Yee at Northwestern's NUvention Web course, in which the three of them came up with the idea to help make networking at conferences just a little less awkward for people.