#splash
  h1 Break the ice
  p Help people network and discover common interests and experiences at your event .
  p#join =link_to "Log In with LinkedIn and get started", linkedin_login_path, :class=> "btn btn-success btn-large"
