h1 Get it here!
h4 Fox Barrel Cider is available near you at World Market in Evanston, Illinois.
p (The "B" is for interest)
= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=1725 Maple Avenue, Evanston,IL&zoom=16&size=400x400&markers=color:blue%7Clabel:B%7C1725 Maple Avenue&sensor=false" 