p="Based on the beers you've rated, it seems like you have similar tastes with one of our users, #{@match.name}. Check out their top rated beers."
ul.nav.nav-tabs.nav-stacked
  -@match.beers.each do |beer|
    li =link_to beer.name, beer