// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#inbox {
  list-style: none;
  margin: 0;
  li {
    display: table;
    width: 96%;
    padding: 2%;
    a {
      display: table;
      width: 100%;
    }
    a:hover {text-decoration: none;}
    
    &:hover {
      background-color: #eee;
    }
    
    h3 {
      display: inline-block;
      margin: 0;
      margin-top: -10px;
      color: black;
    }
    p {
      color: #444;
    }
    span.darkgrey {
      color: #444;
    }
    img {
      float: left;
      padding-right: 5px;
    }
  }
}

.unread {
  font-weight: bold;
  
}


#profile {
  img {padding-right: 2%;}
}
ul.messages {
  list-style: none;
  margin: 0 auto;
  max-width: 800px;
  
  li {
    border-bottom: solid thin black;
    padding: 10px;
    padding-bottom: 0px;
    
    &.contact {
      background-color: rgb(231, 231, 231);
    }
    
    h3 {display: inline;}
    
    p {
      margin-left: 20px;
    }
  }
}

form#new_message {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 30px;
  
  textarea {
    height: 100px;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
  }
}
