// Place all the styles related to the rating controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#demobtns {
  background-color: greenyellow;
}

#critictab {
  background-color: #fcf8e3;
}

.active > #critictab {background-color: white;}