#main {
  text-align: center;
  margin: 0 auto;
}

input{
  min-height: 30px;
}

.inline {
  display: inline-block;
}

textarea{height: 200px; width: 60%;}

.navbar {
  line-height: 30px;
  
  span {display: inline !important}
}

.noleft {
  margin-left: 0;
}
@media (min-width: 980px) {
  .noleftwide {
    margin-left: 0;
  }
}

.centertext {text-align: center;}

/*Event Show*/
ul#interestList li{
  cursor: move;
  border-bottom: dashed thin black;
}

a {
  form {
    margin-bottom: 0;
    
    .input-append {
      margin-bottom: 0;
    }
  }
}
.whitebg {background-color: white;}

/*Landing Page*/
/*Mobile + Tablet version*/
@media (max-width: 979px) {
  .container {width: auto;}
  
  body#homeindex{
    background-image: url("header.png");
    background-size: auto 600px;
    background-position: right top;
    background-repeat: no-repeat;
    color: white;
  
    #splash {
      display: table;
      width: 100%;
  
  
      h1 {
        font-size: 3.75em;
        text-align: right;
        font-weight: normal;
      }
  
      p {
        text-align: right;
        float: right;
        width: 300px;
        display: table;
        clear: both;
        font-size: 1.5em;
        line-height: 1em;
        font-weight: lighter;
        margin-top: 1em;
      
        a {
          margin-top: 2em;
          text-align: center;
          width: 180px;
        }
      }
    }
  }
}

.banners {
  img {
    max-width: 20%;
    max-height: 15%;
    padding: 1%;
  }
}
/*About page */
ul#listus {
  list-style: none;
  clear: both;
  display: table;
  
  h3 {
    .small {
      display: inline;
      font-size: .75em;
      color: gray;
      margin: 0;
    }
  }
  li {
    float: left;
    
    img {
      float: left;
      margin-right: 2%;
    }
  }
}

h1.webelieve {
  font-weight: 200;
}

ul.likeme {
  li.about {
    width: 96%;
    padding: 2%;
    
    p {
      font-size: 16;
      line-height: 20px;
      margin-bottom: .75em;
    }
    
    ul {
      li {
        width: 100%;
        padding-top: 0;
        list-style: disc;
      }
    }
    
    ul.qa {
      margin-left: 0;
      li.q {
        font-size: 24px;
        padding-top: 10px;
        margin-left: 0;
      }
    }
  }
}