img.interest {
  max-width: 175px;
  max-height: 275px;
  margin: 0 auto;
}

#main {
  text-align: center;
  margin: 0 auto;
}

.star {
  display: inline;
}

body {background-color: #FFD900;}
#main{background-color: white; min-height: 439px;}

input{
  height: 30px !important;
}

textarea{height: 200px; width: 60%;}