#main {
  text-align: center;
  margin: 0 auto;
}

input{
  min-height: 30px;
}

.inline {
  display: inline-block;
}

textarea{height: 200px; width: 60%;}

.navbar {
  line-height: 30px;
  
  span {display: inline !important}
}

.noleft {
  margin-left: 0;
}
@media (min-width: 980px) {
  .noleftwide {
    margin-left: 0;
  }
}

/*Event Show*/
ul#interestList li{
  cursor: move;
  border-bottom: dashed thin black;
}


/*Landing Page*/
/*Mobile + Tablet version*/
@media (max-width: 979px) {
  .container {width: auto;}
  
  body#homeindex{
    background-image: url("header.png");
    background-size: auto 600px;
    background-position: right top;
    color: white;
  
    #splash {
      display: table;
      width: 100%;
  
  
      h1 {
        font-size: 3.75em;
        text-align: right;
        font-weight: normal;
      }
  
      p {
        text-align: right;
        float: right;
        width: 300px;
        display: table;
        clear: both;
        font-size: 1.5em;
        line-height: 1em;
        font-weight: lighter;
        margin-top: 1em;
      
        a {
          margin-top: 2em;
          text-align: center;
          width: 180px;
        }
      }
    }
  }
}
/*About page */
ul#listus {
  list-style: none;
  margin: 0;
  clear: both;
  display: table;
  
  li {
    float: left;
    
    img {
      float: left;
      padding-right: 5px;
    }
  }
}